/venv/
.idea/
__pycache__/
.DS_Store
static/img/data/*
static/img/out/*
static/models/*
static/db_credentials.txt
static/node_modules
static/weights/
static/package-lock.json
static/package.json
static/img/model_graphs/*
static/js/capture-video-frame.js