<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Model</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" methods="get" href="/home_get">Facial Recognition</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Sign Out</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" methods="get" href="/home_get">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                            Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" methods="get" href="/friends_get">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-users">
                                <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                <circle cx="9" cy="7" r="4"></circle>
                                <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                            </svg>
                            Friends
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" methods="get" href="/metrics_get">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-bar-chart-2">
                                <line x1="18" y1="20" x2="18" y2="10"></line>
                                <line x1="12" y1="20" x2="12" y2="4"></line>
                                <line x1="6" y1="20" x2="6" y2="14"></line>
                            </svg>
                            Metrics
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" methods="get" href="/train_get">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-layers">
                                <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                                <polyline points="2 17 12 22 22 17"></polyline>
                                <polyline points="2 12 12 17 22 12"></polyline>
                            </svg>
                            Models
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <!-- required -->
            <h1>Your training set</h1>
            <canvas class="my-4 chartjs-render-monitor" id="myChart" width="400" height="100"
                    style="display: block; width: 400px; height: 100px;"></canvas>
            <div id="chartjs-tooltip"></div>
            <br>
            <br>
            <form action="/add_model_post" method="post">
                <h2>Please select all friends to be recognized by the model</h2>
                {% for friend in models_form.friends %}
                    <label for="{{ friend.user_id }}">{{  friend.first_name }} {{ friend.last_name }}</label>
                    <input type="checkbox" name="friend" class="align-items-sm-center" id="{{ friend.user_id }}" value="{{ friend.user_id }}">
                {% endfor %}
                <br>
                <h3>If you would like to set your own model parameters, adjust them here</h3>
                <label for="learning_rate">Learning Rate</label>
                <input type="number" step="0.001" min="0" name="learning_rate" id="learning_rate" value="0.001">
                <label for="momentum">Momentum</label>
                <input type="number" step="0.01" min="0" name="momentum" id="momentum" value="0.9">
                <div id="container">
                    <label for="hiddenlayer-1">Hidden Layer</label>
                    <input type="number" step="1" min="0" name="hiddenlayer[]" id="hiddenlayer-1" value="20">
                </div>
                <button type="button" class="btn-dark" onclick="addLayer()">Add another layer</button>
                <br>
                <br>
                <label for="epochs">Epochs</label>
                <input type="number" step="1" min="1" value="10000" name="epochs" id="epochs">
                <p>For now, we will only stop at this number if we've already reached 100% accuracy on test set.</p>
                <br>
                <label for="split">Test Set Proportion</label>
                <input type="number" step="0.1" min="0" max="0.9" value="0.2" name="split" id="split">
                <br>
                <label for="model-name">Model Name</label>
                <input type="text" required id="model-name" name="model-name">
                <button class="form-control btn-success" type="submit" onclick="showLoader()">Submit</button>
            </form>
        </main>
    <img class="loading-image" id="loading-gif" hidden src="../static/img/loading-gif.gif" alt="loading.."
            style="width: 15%; height:auto; align-content: baseline;">
    </div>
</div>
<script>
    let i = 2;
    function showLoader() {
        let gif = document.getElementById('loading-gif');
        gif.removeAttribute("hidden");

    }
    function addLayer() {
        var container = document.getElementById("container");
        container.appendChild(document.createElement("br"));
        var label = document.createElement("label");
        label.for = 'hiddenlayer[]' + i.toString();
        label.innerText = "Hidden Layer ";
        var input = document.createElement("input");
        input.type = "number";
        input.name = "hiddenlayer[]";
        input.min = "0";
        input.step = "1";
        input.id = "hiddenlayer-" + i.toString();
        input.value = "20";
        container.appendChild(label);
        container.appendChild(input);
        // Append a line break
        i++;
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{% for item in models_form.train_distribution_x_values%}
                        "{{item}}",
                    {% endfor %}],
            datasets: [{
                data: [{% for item in models_form.train_distribution_y_values %}
                        "{{item}}",
                      {% endfor %}],
                lineTension: 0,
                backgroundColor: '#007bff',
                borderColor: '#007bff',
                borderWidth: 4,
                pointBackgroundColor: '#007bff'
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    categoryPercentage: 1.0,
                    barPercentage: 1.0
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Samples'
                    }
                }]
            },
            legend: {
                display: false,
            }
        }
    });
</script>


</body>
</html>